@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src:
      url('/assets/fonts/inter-v13-latin-regular.woff2') format('woff2'),
      url('/assets/fonts/inter-v13-latin-regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src:
      url('/assets/fonts/inter-v13-latin-700.woff2') format('woff2'),
      url('/assets/fonts/inter-v13-latin-700.ttf') format('truetype');
  }

  section {
    @apply m-auto max-w-7xl px-4 py-16;
  }

  /* Typography */
  h2 {
    @apply text-4xl font-bold;
  }

  p {
    @apply text-lg text-gray-300;
  }

  /* Media */
  img {
    @apply rounded-2xl;
  }
}
